<header>
    <div class="mt-2 mb-2 border rounded d-flex flex-row justify-content-between">
        <div class="w-25 d-flex flex-row justify-content-left align-itmes-center">
            <a class="m-2 p-2 btn btn-outline-dark" href="/">Home</a>
            <a class="m-2 p-2 btn btn-outline-dark" href="/users">Users</a>
        </div class="w-25 d-flex flex-row justify-content-right align-itmes-center">
        <div>
            <a class="m-2 p-2 btn btn-outline-dark" href="/login">Login</a>
        </div>
    </div>
</header>