<form method ="POST">
    <input type="username" placeholder="enter username" required>
    <input type="password"  placeholder="enter password" required>
    <button type="submit">login</button>
</form>
<a href="/register">register</a>