<form method ="POST">
    <input type="username" placeholder="enter username" required>
    <input type="password"  placeholder="enter password" required>
    <button type="submit">register</button>
</form>
<a href="/login">login</a>